

.design-view {
    height: 100%;
}

.design-view pre {
    margin: 10px;
    margin-left: 25px;
    font-size: 11px;
    font-family: "Monaco";
}

.interaction-diagram {
    .divider {
        fill: none;
    }
    .panel-body-rect, .headingRect {
        fill: transparent;
        fill-opacity: 0;
    }
    .panel-body-rect, .headingRect {
        stroke: grey
    }
    .top-menu {
        display: none;
    }
}