<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {%- block site_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page and page.is_homepage %}
    <meta name="description" content="{{ config.site_description }}">{% endif %} {% if config.site_author %}
    <meta name="author" content="{{ config.site_author }}">{% endif %} {% if config.site_favicon %}
    <link rel="shortcut icon" href="{{ base_url }}/{{ config.site_favicon }}"> {% else %}
    <link rel="shortcut icon" href="/img/favicon.ico">{% endif %} {%- endblock %} {%- block htmltitle %}
    <title>{% if page and page.title and not page.is_hompage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {%- endblock %} {%- block styles %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92163714-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-92163714-2');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PSL2TX4');
    </script>
    <!-- End Google Tag Manager -->

    <script src="/js/clipboard.js-2.0.0/clipboard.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- <script src="{{ base_url }}/js/jquery-2.1.1.min.js"></script>-->
    <!-- <script src="{{ base_url }}/js/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="{{ base_url }}/js/highlight.pack.js"></script>-->

    <script src="/js/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="/js/highlight.pack.js"></script>
    <script src="/js/ballerina-common.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/son4ymv.css" />


    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="/css/theme_extra.css" type="text/css" />

    <link rel="stylesheet" href="/css/ballerina-io.css">
    <link rel="stylesheet" href="/css/ballerina-io-docs.css">
    <link rel="stylesheet" href="/css/ballerina-io-guides.css"> {%- for path in extra_css %}
    <!--  <link href="{{ path }}" rel="stylesheet">-->
    {%- endfor %} {%- endblock %} {%- block libs %} {% if page %}
    <script>
        // Current page data
        var mkdocs_page_name = {{page.title | tojson | safe}};
        var mkdocs_page_input_path = {{page.input_path | tojson | safe}};
        var mkdocs_page_url = {{page.abs_url | tojson | safe}};
        var mkdocs_root_repo = {{config.repo_url | tojson | safe}};
        var mkdocs_edit_uri = {{config.edit_uri | tojson | safe}};
        var base_url = "";
    </script>
    {% endif %} {%- endblock %} {%- block extrahead %} {% endblock %} {%- block analytics %} {% if config.google_analytics %} {% endif %} {%- endblock %}




</head>

<body class="cBallerina-io" role="document">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSL2TX4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "navigation.html" %}



    <div class="row cBallerina-io-Gray-row">


        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cBallerina-io-Home-Left-col">
                <div class="cBlallerina-io-docs-left-nav-container">
                    <div class="cSideBar-Button"><img src="/img/sidebar.png" /></div>


                    <div class="cGreenBox">
                        <div class="cGreenBoxTitle">Source Code</div>


                        <div class="">
                            <ul class="nav nav-pills cPhilosophyWidgetControls">
                                <li class="cGuidesTabsControls active cHTTP">
                                    <a href="#1a" data-toggle="tab">HTTPS</a>

                                </li>
                                <li class="cGuidesTabsControls cSSH">
                                    <a href="#2a" data-toggle="tab">SSH</a>
                                </li>
                                <li class="cGuidesTabsControls cSUBVERSION">
                                    <a href="#3a" data-toggle="tab">SUBVERSION</a>
                                </li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane cGuidesTabs active" id="1a">
                                    <div id="gitUrl" class="cURL">https://github.com/ballerina-platform/</div>
                                    <a class="cCopyIcon"><img src="/img/copy-icon-line.svg" /></a>
                                </div>
                                <div class="tab-pane cGuidesTabs" id="2a">
                                    <div id="sshUrl" class="cURL">https://github.com/ballerina-platform/</div>
                                    <a class="cCopyIcon"><img src="/img/copy-icon-line.svg" /></a>
                                </div>
                                <div class="tab-pane cGuidesTabs" id="3a">
                                    <div id="subUrl" class="cURL">https://github.com/ballerina-platform/</div>
                                    <a class="cCopyIcon"><img src="/img/copy-icon-line.svg" /></a>
                                </div>
                            </div>
                        </div>
                        <a class="cBallerina-io-Home-main-download-button cGuidesDownloadButton" href="#" id="downloadZip">DOWNLOAD ZIP</a>



                    </div>


                    <div class="cBlallerina-io-docs-left-nav-box">
                        <div class="cBallerina-io-docs-Title">TABLE OF CONTENTS</div>




                        <ul>

                            {% for toc_item in page.toc %}
                            <li class="toctree-l3"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                            {% for toc_item in toc_item.children %}
                            <li><a class="toctree-l4" href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                            {% endfor %} {% endfor %}
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 cBallerina-io-Home-Middle-col">
                <div class="cBallerina-io-breadcrumbs">
                    {% include "breadcrumbs.html" %}
                </div>
                <div class="cBlallerina-io-docs-content-container">






                    <div class="wy-nav-content">
                        <div class="rst-content">

                            <div role="main">
                                <div class="section">
                                    <!--                <h1>{{ page.title }}</h1>-->
                                    {% block content %} {{ page.content }} {% endblock %}
                                </div>
                            </div>

                        </div>
                    </div>








                </div>
            </div>

        </div>


    </div>





    {% include "footer.html" %} {%- block scripts %}


    <script>
        $(document).ready(function() {


            var pageTitle = $('.section h1').first().text();
            $('title').html(pageTitle + " - {{ config.site_name }}");
            $("#breadcrumb-suffix").html(pageTitle);

            $(".cSideBar-Button").click(function() {
                $(".cSideBar-Button").toggleClass('cOpen');
                $(".cBallerina-io-Home-Left-col").toggleClass('cOpen-col');


            });
            var baseGitUrl = mkdocs_root_repo + mkdocs_page_input_path.split("/")[0];
            var editOngitUrl = baseGitUrl + mkdocs_edit_uri;
            $("#editOnGithub").attr("href", editOngitUrl);

            var downloadUrl = baseGitUrl + "/archive/master.zip";
            $("#downloadZip").attr("href", downloadUrl);

            $("#gitUrl").text(baseGitUrl + ".git");
            $("#sshUrl").text(baseGitUrl.replace("https://github.com/", "git@github.com:") + ".git");
            $("#subUrl").text(baseGitUrl);


            var clipboard = new ClipboardJS('.cCopyIcon', {
                text: function(trigger) {
                    return $(trigger).parent().find('.cURL').text();
                }
            });

            // Register events show hide tooltip on click event
            clipboard.on('success', function(e) {
                setTooltip(e.trigger, 'Copied!');
                hideTooltip(e.trigger);
            });

            clipboard.on('error', function(e) {
                setTooltip(e.trigger, 'Failed!');
                hideTooltip(e.trigger);
            });

            $('.cCopyIcon').tooltip({
                trigger: 'click',
                placement: 'right'
            });
            $("a.cCopyIcon").unbind("click");

        });


        $(window).scroll(function() {
            if ($(this).scrollTop() > 225) {
                $('.cBlogFilter').addClass('cFixedFilter');



            } else {

                $('.cBlogFilter').removeClass('cFixedFilter');


            }

        });


        $(function() {

            var pathname = window.location.pathname;



            if (pathname.indexOf("learn") != -1) {
                $("#learnli").addClass("cActive");
            } else if (pathname.indexOf("blog") != -1) {
                $("#blogli").addClass("cActive");
            } else if (pathname.indexOf("philosophy") != -1) {
                $("#philosophyli").addClass("cActive");
            } else if (pathname.indexOf("open-source") != -1) {
                $("#openli").addClass("cActive");
            } else if (pathname.indexOf("help") != -1) {
                $("#helpli").addClass("cActive");
            }

        });

        function setTooltip(btn, message) {
            $(btn).attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip(btn) {
            setTimeout(function() {
                $(btn).tooltip('hide').removeAttr('data-original-title');
            }, 1000);
        }
    </script>


    <script src="/js/theme.js"></script>
    <script src="/search/require.js"></script>
    <script src="/search/search.js"></script>
    {%- endblock %}

</body>

</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
