---
layout: ballerina-example-page-old
title: {{yamlEscape .Name}}
description: {{yamlEscape .MetaDescription}}
keywords: {{yamlEscape .MetaKeywords}}
permalink: {{if .IsLatest}}/learn/by-example/{{.Id}}{{else}}/{{.Version}}/learn/by-example/{{.Id}}{{end}}
active: {{.Id}}
redirect_from:
  - /{{.RedirectVersion}}/learn/by-example/{{.Id}}
  - /{{.RedirectVersion}}/learn/by-example/{{.Id}}.html
---
<div class="row cBallerina-io-Gray-row">
        <div class="container cBallerinaBySampleContainer">
            <div class="FullCode">
                {{.FullCode}}
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="cTopInfoContainer cTopControlsContainer">
                    <tr>
                        <td class="cLeftTD">
                            <h2>{{.Name}}</h2>
                            <p>{{.Descs}}</p>

                        </td>
                        <td class="cRightTD">
                            <div class="cTopButtonContainer">
                                {{if .PrevExample}}
                                <div class="cButtonInfoContainer">
                                    <a class="prev" href="{{.PrevExample.Id}}.html">
                                        <span>< PREVIOUS</span>
                                        <p>{{.PrevExample.Name}}</p>
                                    </a>
                                </div>
                                {{end}} {{if .NextExample}}
                                <div class="cButtonInfoContainer">
                                    <a class="next" href="{{.NextExample.Id}}.html">
                                        <span>NEXT ></span>
                                        <p>{{.NextExample.Name}}</p>
                                    </a>
                                </div>
                                {{end}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="example" id="{{.Id}}">
                <div class="col-xs-12 col-sm-12 col-md-12 cBBETable-container cCodeLeft">
                    <div class="cTopControlsContainer">
                        <div class="cTopControlsRow">
                            <div class="cLeftTD">
                                <div class="cBBE-links">
                                    <ul>
                                        <li>
                                            <a class="copy"><img src="/img/copy-icon.svg" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="{{.GithubLink}}"><img src="/img/github-logo-green.svg" /></a>
                                        </li>
                                        {{if .EnablePlayground}}
                                        <li>
                                            <a target="_blank" href="{{.PlaygroundLink}}"><img src="/img/main-play-green-btn.svg" /></a>
                                        </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div> 
                        </div>
                    </div>
              
                    {{range  $i, $element := .Segs}}
                    <div class="codeSnippeset">

                        <div class="cBBE-body">
                            {{range $element}}
                            <div class="cTR{{if and (not .DocEmpty)}} hover-enable{{end}}{{if .IsConsoleOutput}} cOutputTr{{end}}">

                                <div class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}{{if .IsConsoleOutput}} cOutput{{end}}">
                                    {{.CodeRendered}}
                                </div>
                                <div class="docs">
                                    {{if and (not .DocEmpty)}}
                                    <div class="cCodeDesription">
                                        <div>
                                            {{.DocsRendered}}
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}


                     
                </div>
            </div>
        </div>
    </div>

     <script>
            $(document).ready(function() {

                // hljs.initHighlightingOnLoad();

                $(".switch").click(function() {
                    $(".cCodeRight").toggleClass('cShow');
                    $(".cCodeLeft").toggleClass('cHide');
                });

                // get code text
                var codeSnippet = document.getElementsByClassName('FullCode')[0];
                var codeText = codeSnippet.getElementsByTagName('pre')[0].textContent;

                // register "copy to clipboard" event to elements with "copy" class
                var clipboard = new ClipboardJS('.copy', {
                    text: function(trigger) {
                        return codeText;
                    }
                });

                // Register events show hide tooltip on click event
                clipboard.on('success', function(e) {
                    setTooltip(e.trigger, 'Copied!');
                    hideTooltip(e.trigger);
                });

                clipboard.on('error', function(e) {
                    setTooltip(e.trigger, 'Failed!');
                    hideTooltip(e.trigger);
                });

                $('.copy').tooltip({
                    trigger: 'click',
                    placement: 'bottom'
                });
                $("a.copy").unbind("click");
            });

            function setTooltip(btn, message) {
                $(btn).attr('data-original-title', message)
                    .tooltip('show');
            }

            function hideTooltip(btn) {
                setTimeout(function() {
                    $(btn).tooltip('hide').removeAttr('data-original-title');
                }, 1000);
            }
        </script>
