.ballerina-playground {
    .controls {
        margin-top: 17px;
        .run-button {
            text-transform: uppercase;
            font-weight: 100;
            height: 24px;
            width: 90px;
            margin: 0;
            background: #FFF !important;
            border: 1px solid #585A5E;
            border-radius: 0%;
            padding: 0;
            letter-spacing: 1px;
            font-weight: 100;
        }
    }
}