$default-text-size: 0.8em;
$control-text-size: 1em;

@font-face {
    font-family: "Consolas";
    src:
      local("Consolas"),
      url("fonts/Consolas.woff2") format("woff2"),
      url("fonts/Consolas.woff") format("woff"),
      url("fonts/Consolas.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Calibre-Semibold";
    src:
      local("Calibre-Semibold"),
      url("fonts/CalibreWeb-Semibold.woff2") format("woff2"),
      url("fonts/CalibreWeb-Semibold.woff") format("woff"),
      url("fonts/CalibreWeb-Semibold.eot") format("embedded-opentype");
}

@media only screen and (max-width: 569px) {
    .ballerina-playground {
        &.ui.container {
            width: 100%;
        }
        .ui.segments {
            .segment {
                &.sample-title {
                    padding-left: 0;
                }
                &.code-editor {
                    .view-select-panel {
                        display: none;
                    }
                }
                &.curl-editor {
                    .curl-string {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 570px) {
    .ballerina-playground {
        &.ui.container {
            padding-left: 43px;
        }
        .ui.segments {
            width: 512px;
            .segment {
                &.sample-title {
                    padding-left: 27px;
                }
                &.sample-image {
                    width: 512px;
                    height: 64px;
                    border-radius: 0;
                    img {
                        width: 512px;
                        height: 64px;
                    }
                }
                &.curl-editor {
                    .curl-string {
                        width: 462px;
                    }
                }
            }
        }
    }
}

.ballerina-playground {
    .playground-content {
        .ui {
            &.segments {
                border: none;
                border-top: none;
                box-shadow: -5px 5px 30px -12px #585a5e;
                &.header {
                    box-shadow: none;
                    margin-bottom: 0;
                }
                &.body {
                    margin-top: 0;
                }
                &.footer {
                    box-shadow: none;
                }
                .segment {
                    padding: 0;
                    border: none;
                    &:last-child {
                        border-radius: 0;
                    }
                    &.sample-title {
                        color: #585556;
                        background: none;
                        padding-bottom: 4px;
                        cursor: pointer;
                        .sample-file-name {
                            font-size: $default-text-size;
                            font-weight: initial;
                        }
                        .sample-btn {
                            margin-left: 5px;
                            top: 3px;
                            position: relative;
                        }
                        .github-icon {
                            display: inline-block;
                            padding: 0;
                            margin-right: .75rem;
                            opacity: 1;
                            margin: 0 .25rem 0 0;
                            width: 1.18em;
                            height: 1em;
                            text-decoration: inherit;
                            text-align: center;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    &.sample-image {
                        background: #20b6b0;
                        border-radius: 0;
                    }
                    &.code-editor {
                        position: relative;
                        padding: 18px 18px 0 18px;
                        height: 303px;
                    }
                    &.curl-editor {
                        .curl-string input {
                            width: 100%;
                        }
                        height: 28px;
                        padding: 0 18px 0 18px;
                        font-size: $default-text-size;
                        font-family: "Monaco";
                        vertical-align: middle;
                        font-weight: initial;
                    }
                    &.console {
                        padding: 0 18px 18px 18px;
                        .console-area {
                            background-color: #585a5e;
                            color: #3ad1ca;
                            font-size: $default-text-size;
                            font-family: "Monaco";
                            overflow-y: hidden;
                            overflow-x: hidden;
                            word-wrap: break-word;
                        }
                    }
                    &.controls {
                        font-family: "Calibre-Semibold";
                        color: #585A5E;
                        margin-top: 20px;
                        .navigator {
                            margin-left: 32px;
                            font-size: $default-text-size;
                            float: left;
                            line-height: 11px;
                        }
                        .other {
                            font-size: $control-text-size;
                            float: right;
                            .run-button {
                                float: right;
                            }
                            .share-button {
                                float: right;
                                margin-right: 14px;
                            }
                            button {
                                font-family: "Calibre-Semibold";
                                font-size: 1em;
                                box-shadow: none;
                                border-color: #A6A8AB;
                                &, &:hover, &:active, &:focus {
                                    color: #585A5E!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}