name: Module Testing Pipeline

on:
  workflow_dispatch:
    inputs:
      ballerina_lang_branch:
        description: 'Ballerina-lang branch'
        required: true
        default: 'master'
      downstream_repo_branch:
        description: 'Downstream repository branch'
        required: true
        default: 'master'
      test_module:
        description: 'Test module e.g., module-ballerina-io'
        deprecationMessage: 'standard library module needs to be tested'
        required: true
        default: ''

jobs:
  module-test-pipeline:
    name: Build Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Python Packages
        run: |
          pip install requests
          pip install retry
          pip install PyGithub
          pip install cryptography
          pip install httplib2
      - name: Build Modules
        run: |
          python dependabot/pipeline_for_module_testing.py ${{ github.event.inputs.ballerina_lang_branch }} true \
          ${{ github.repository_owner }} ${{ github.event.inputs.downstream_repo_branch }} \
          ${{ github.event.inputs.test_module }}
        env:
          BALLERINA_BOT_USERNAME: ${{ secrets.BALLERINA_BOT_USERNAME }}
          BALLERINA_BOT_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
          BALLERINA_BOT_EMAIL: ${{ secrets.BALLERINA_BOT_EMAIL }}
          BALLERINA_REVIEWER_BOT_TOKEN: ${{ secrets.BALLERINA_REVIEWER_BOT_TOKEN }}
          devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}