name: Update Dependency Graph

on:
  workflow_dispatch:
  schedule:
    - cron: 0 00 17 * *

jobs:
  dependency:
    name: Derive module dependencies
    runs-on: ubuntu-latest
    steps:
      -   name: Checkout Repository
          uses: actions/checkout@v2

      -   name: Setup Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.x'

      -   name: Install Python packages
          run: |
            pip install requests
            pip install networkx
            pip install retry
            pip install PyGithub
            pip install semver

      -   name: Get Dependencies and update files
          run: |
            python dependabot/update_version_data.py
          env:
            packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
            packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
